root = true

[*.kt]
# 禁用函数命名检查（如果你希望函数也能用下划线）
ktlint_standard_function-naming = disabled
# 禁用属性命名检查（允许变量、属性使用下划线）
ktlint_standard_property-naming = disabled
# 禁用类命名检查（如果你希望类名也能用下划线）
ktlint_standard_class-naming = disabled